{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1 class="h3 mb-3">{{ title }}</h1>
<div class="card shadow-sm">
    <div class="card-body">
        {{ form_start(form) }}{{ form_widget(form) }}
        <button class="btn btn-success mt-2">Opslaan</button>
        <a href="{{ path('app_specialist_appointments') }}" class="btn btn-outline-secondary mt-2">Annuleren</a>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
