{% extends 'base.html.twig' %}
{% block title %}Reserveren{% endblock %}
{% block body %}
{% include 'kapsalon/_partials/page_header.html.twig' with { title: 'Afspraak reserveren', subtitle: 'Kies behandeling, kapster, datum en tijd.' } only %}
<div class="content-card p-4 col-lg-8 mx-auto">
{{ form_start(form) }}
<div class="row g-3">
<div class="col-md-6">{{ form_row(form.customerName) }}</div>
<div class="col-md-6">{{ form_row(form.customerEmail) }}</div>
<div class="col-md-6">{{ form_row(form.customerPhone) }}</div>
<div class="col-md-6">{{ form_row(form.treatment) }}</div>
<div class="col-md-6">{{ form_row(form.employee) }}</div>
<div class="col-md-6">{{ form_row(form.date) }}</div>
<div class="col-12">{{ form_row(form.slot) }}</div>
<div class="col-12">{{ form_row(form.acceptTerms) }}</div>
<div class="col-12">{{ form_row(form.submit) }}</div>
</div>
{{ form_end(form) }}
</div>
{% endblock %}
