{% extends 'base.html.twig' %}
{% block title %}Student - Group{% endblock %}
{% block body %}
<h1 class="h3">showInformation – Students &amp; Groups</h1>
<p class="text-muted">Opdracht 1.4 – tweede Many-to-Many (klas = SchoolGroup, niet "Class").</p>

<div class="row">
    <div class="col-md-6">
        <h2 class="h5">Alle studenten</h2>
        {% for student in students %}
            <div class="mb-3 p-2 bg-white border rounded">
                <strong>{{ student.name }}</strong><br>
                <ul class="mb-0">
                    {% for group in student.groups %}
                        <li>- {{ group.name }} ({{ group.code }})</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <h2 class="h5">Alle groepen</h2>
        {% for group in groups %}
            <div class="mb-3 p-2 bg-white border rounded">
                <strong>{{ group.name }}</strong><br>
                <ul class="mb-0">
                    {% for student in group.students %}
                        <li>- {{ student.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
