{% extends 'base.html.twig' %}
{% block title %}Pizza – form_rows{% endblock %}
{% block body %}
<h1 class="h3">Pizza toevoegen (opdracht 1.3: form_rows)</h1>
<div class="card shadow-sm">
    <div class="card-body">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.size) }}
            {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
